@import "@styles/variables.module.scss";
@import "@styles/mixins.module.scss";

.container {
  margin-bottom: 20px;

  .labelInput {
    font-size: 14px;
    color: $four_color;
    margin-bottom: 5px;
  }

  .errText {
    font-size: 14px;
    color: red;
    margin: 5px 0;
  }

  .boxInput {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      height: 37px;
      outline: none;
      border: 1px solid #e1e1e1;
      padding: 0 10px;
    }

    .boxIcon {
      position: absolute;
      right: 10px;
      top: 54%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
